<script src="http://code.jquery.com/jquery-latest.min.js"
				type="text/javascript"></script>
<script src="http://www.chartjs.org/assets/Chart.js"></script>
<div>
	<canvas id="radarChart" width="400" height="400"></canvas>
</div>
<div>
	<canvas id="gradient" width="400" height="30"></canvas>
</div>
<div>
	{{scores}} {{times}}
</div>
<script>
$(document).ready(function(){
		$.ajax({
				type: "GET",
				data: ({}),
				dataType: 'json',
				url: "http://localhost:8000/swimmer/{{swimmer_id}}/chart",
				success: function(data){
					drawRadarChart(data);
				}
		});
});

//clean this + add mouseover labels for events


function drawRadarChart(data){
	//radar chart data
	var radarData = {
		labels : ["Free","Back","Breast","Fly","IM"],
		datasets : [
			{
				fillColor: colorCalculator(data.Distance*2.55,.2),
				strokeColor: colorCalculator(data.Distance*2.55,1),
				pointColor : "rgba(220,220,220,1)",
				pointStrokeColor : "#fff",
				data : [data.Free,data.Back, data.Breast, data.Fly, data.IM]
			},

		]
	}
	//Create Radar chart
	var ctx2 = document.getElementById("radarChart").getContext("2d");
	var myChart = new Chart(ctx2).Radar(radarData, {
			scaleOverride: true,
			scaleSteps: 10,
			scaleStepWidth: 120,
			scaleStartValue: -100,
			scaleEndValue:1100,
			tooltipTemplate: function(valuesObject){
							 // console.log(valuesObject);
							  // do different things here based on whatever you want;
							  return getEvents(valuesObject);
							}
			
			//<%='50 Free' %>:  <%= custom  %>,<%='100 Free' %>:  <%= value  %>"
	});

	function getEvents(valuesObject){
		tempStr="";
		for (event in data.times){
			if (valuesObject.label=='Free' && event[0]=='1'){ 
				tempStr+= event.slice(1,event.length) + ' '+ valuesObject.label +' : ' + data.times[event] + '\n';
			}
			if (valuesObject.label=='Back' && event[0]=='2'){
				tempStr+= event.slice(1,event.length) + ' '+ valuesObject.label +' : ' + data.times[event] + '\n'; 
			}
			if (valuesObject.label=='Breast' && event[0]=='3'){
				tempStr+= event.slice(1,event.length) + ' '+ valuesObject.label +' : ' + data.times[event] + '\n'; 
			}
			if (valuesObject.label=='Fly' && event[0]=='4'){
				tempStr+= event.slice(1,event.length) + ' '+ valuesObject.label +' : ' + data.times[event] + '\n';
			} 
			if (valuesObject.label=='IM' && event[0]=='5'){
				tempStr+= event.slice(1,event.length) + ' '+ valuesObject.label +' : ' + data.times[event] + '\n';
			} 

		}
		if (tempStr==""){
			return "No " + valuesObject.label + " results found.";
		}
		else return tempStr;
	}
 
	
						
}


//gradient
var c=document.getElementById("gradient");
var ctx=c.getContext("2d");
var grd=ctx.createLinearGradient(0,0,400,0);

grd.addColorStop(0,"red");
grd.addColorStop(1,"blue");

ctx.fillStyle=grd;
ctx.fillRect(20,20,400,50);

//returns a red to blue rgba string 
function colorCalculator(distance, alphaSpace){

	return "rgba(" + String(255-parseInt(distance/10)) + ",0," + String(0+parseInt(distance/10))+ ","+String(alphaSpace)+ ")";
	
}

</script>




