<!-- include jquery and scripts-->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://www.chartjs.org/assets/Chart.js"></script>

<!--radar chart and gradient divs-->
<div>
	<canvas id="radarChart" width="400" height="400"></canvas>
</div>
<div>
	<canvas id="gradient" width="400" height="30"></canvas>
</div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sprint&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Distance
</div>
<script>
//AJAX get to endpoint
$(document).ready(function(){
		$.ajax({
				type: "GET",
				data: ({}),
				dataType: 'json',
				url: "http://localhost:8000/swimmer/{{swimmer_id}}/chart",
				success: function(data){
					drawRadarChart(data);
				}
		});
});

//draw radar chart function
function drawRadarChart(data){
	//radar chart data
	var radarData = {
		labels : ["Free","Back","Breast","Fly","IM"],
		datasets : [
			{
				fillColor: colorCalculator(data.Distance*2.55,.2),
				strokeColor: colorCalculator(data.Distance*2.55,1),
				pointColor : "rgba(220,220,220,1)",
				pointStrokeColor : "#fff",
				data : [data.Free,data.Back, data.Breast, data.Fly, data.IM]
			},

		]
	}
	//Create Radar chart
	var ctx2 = document.getElementById("radarChart").getContext("2d");
	var myChart = new Chart(ctx2).Radar(radarData, {
			scaleOverride: true,
			scaleSteps: 10,
			scaleStepWidth: 120,
			//start at -100 to look better
			scaleStartValue: -100,
			scaleEndValue:1100,
			//customize tooltipTemplate
			tooltipTemplate: function(valuesObject){
							 	return getEvents(valuesObject);
							}
	});

	//will return a string to be shown in the tooltip(mouseover)
	function getEvents(valuesObject){
		tempStr="";
		if (valuesObject.label=='Free'  && Object.keys(data.times[0]).length!=0){ 
			tempStr+= String(data.times[0]['eventdistance']) + String(data.times[0]['eventcourse']) + ' ' + valuesObject.label 
				+ " : " +String(data.times[0]['eventtime'])  ;
		}
		if (valuesObject.label=='Back' && Object.keys(data.times[1]).length!=0){ 
			tempStr+= String(data.times[1]['eventdistance']) + String(data.times[1]['eventcourse']) + ' ' + valuesObject.label 
				+ " : " + String(data.times[1]['eventtime']) ;
		}
		if (valuesObject.label=='Breast' && Object.keys(data.times[2]).length!=0){ 
			tempStr+= String(data.times[2]['eventdistance']) + String(data.times[2]['eventcourse']) + ' ' + valuesObject.label 
				+  " : " +String(data.times[2]['eventtime']);
		}
		if (valuesObject.label=='Fly' && Object.keys(data.times[3]).length!=0){ 
			tempStr+= String(data.times[3]['eventdistance']) + String(data.times[3]['eventcourse']) + ' ' + valuesObject.label 
				+ " : " + String(data.times[3]['eventtime']);
		}
		if (valuesObject.label=='IM' && Object.keys(data.times[4]).length!=0){ 
			tempStr+= String(data.times[4]['eventdistance']) + String(data.times[4]['eventcourse']) + ' ' + valuesObject.label 
				+  " : " + String(data.times[4]['eventtime']);
		}
		
		
		if (tempStr==""){
			return "No " + valuesObject.label + " results found.";
		}
		else return tempStr;
	}

}


//gradient
var c=document.getElementById("gradient");
var ctx=c.getContext("2d");
var grd=ctx.createLinearGradient(0,0,400,0);

grd.addColorStop(0,"red");
grd.addColorStop(1,"blue");

ctx.fillStyle=grd;
ctx.fillRect(20,20,400,50);

//returns a red to blue rgba string 
function colorCalculator(distance, alphaSpace){

	return "rgba(" + String(255-parseInt(distance/10)) + ",0," + String(0+parseInt(distance/10))+ ","+String(alphaSpace)+ ")";
	
}

</script>




